[Desktop Entry]
Encoding=UTF-8
Name=Link to https://tutorials.supunkavinda.blog/php/oop-autoloading
Type=Link
URL=http://tutorials.supunkavinda.blog/php/oop-autoloading
Icon=text-html
