[Desktop Entry]
Encoding=UTF-8
Name=Link to 6 Ways to Open Folders in Ubuntu 18.04 LTS
Type=Link
URL=https://vitux.com/how-to-open-folders-in-ubuntu/
Icon=text-html
