[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Change Password in Ubuntu [for Root and Normal Users]
Type=Link
URL=https://itsfoss.com/change-password-ubuntu/
Icon=text-html
