[Desktop Entry]
Encoding=UTF-8
Name=Link to Linux Copy File Command [ cp Command Examples ] - nixCraft
Type=Link
URL=https://www.cyberciti.biz/faq/copy-command/
Icon=text-html
