[Desktop Entry]
Encoding=UTF-8
Name=Link to Ubuntu Manpage: chown - change file owner and group
Type=Link
URL=http://manpages.ubuntu.com/manpages/bionic/man1/chown.1.html
Icon=text-html
