[Desktop Entry]
Encoding=UTF-8
Name=Link to Права доступа 777 | chmod
Type=Link
URL=http://tehnopost.info/site/16-prava-dostupa-chmod-vida-777.html
Icon=text-html
