[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Set Up Apache Virtual Hosts on Ubuntu 18.04 | Linuxize
Type=Link
URL=https://linuxize.com/post/how-to-set-up-apache-virtual-hosts-on-ubuntu-18-04/
Icon=text-html
