[Desktop Entry]
Encoding=UTF-8
Name=Link to Как установить веб-сервер Apache в Ubuntu 18.04 | DigitalOcean
Type=Link
URL=https://www.digitalocean.com/community/tutorials/apache-ubuntu-18-04-ru
Icon=text-html
