[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Manually Upgrade phpMyAdmin | DevAnswers.co
Type=Link
URL=https://devanswers.co/manually-upgrade-phpmyadmin/
Icon=text-html
