[Desktop Entry]
Encoding=UTF-8
Name=Link to How to install Opencart on Ubuntu 18.04 | LinuxHelp Tutorials
Type=Link
URL=https://www.linuxhelp.com/how-to-install-opencart-on-ubuntu-18-04
Icon=text-html
