[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Install Code Blocks on Ubuntu 16.04, Ubuntu 18.04, 19.04 - LinuxBabe
Type=Link
URL=https://www.linuxbabe.com/ubuntu/install-code-blocks-ubuntu-16-04-17-04
Icon=text-html
